header {
  width: 100%;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;

  .header {
    width: 75%;
    padding: 15px;
    display: flex;
    align-items: center;
  }
  .logo {
    color: grey;
    font-size: 2.5rem;
    font-weight: bolder;
    font-style: italic;
    font-family: "Telex", sans-serif;
    padding-right: 15px;
  }

  .dot {
    color: red;
  }

  .mainTitle {
    padding-left: 15px;
    border-left: 1px solid grey;
    font-size: 1.3rem;
  }
}
