.btn {
  background-color: $color-green;
  color: whitesmoke;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  width: 80%;
  margin: 10px;
}

@media (min-width: 576px) {
  .btn {
    margin: 0;
    margin-bottom: 20px;
  }
}
