@import "./image";
@import "./title";
@import "./desc";
@import "./price";
@import "./button";

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid $color-grey;
  margin: 0px 10px 20px 10px;
  width: 260px;
  padding: 20px;
  position: relative;
}

.cardList {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid $color-grey;
  margin: 0px 10px 20px 10px;
  width: 80%;
  padding: 20px;
  position: relative;
}

.descBtn--grid,
.descBtn--line {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.descBtn--line {
  height: 180px;
}

@media (min-width: 576px) {
  .descBtn--line {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .descBtn--line {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
