.price__line {
  display: flex;
  justify-content: center;

  &--HT,
  &--TTC {
    border: 1px solid $color-grey;
    padding: 5px;
    background-color: white;
    font-size: 0.85rem;
  }

  &--TTC {
    margin-left: 15px;
  }
}

.price__grid {
  position: absolute;
  top: 0;
  right: 0;

  &--HT,
  &--TTC {
    border: 1px solid $color-grey;
    padding: 5px;
    margin: 15px 15px 0 0;
    background-color: white;
    font-size: 0.85rem;
    font-weight: bold;
  }
}

.sup {
  vertical-align: super;
  font-weight: bold;
  font-size: 80%;
}

@media (min-width: 576px) {
  .priceLine {
    padding-bottom: 20px;
  }
}
